!!! 5
html
  head
    title MockingJay Pinterest
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/css/site.css')
    link(rel='stylesheet', href='/css/magnific-popup.css')
    link(rel='shortcut icon', href='/img/favicon.ico')

  body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          a(href='/').brand #{title}
          ul.nav.pull-right
            li
              form.navbar-form.navbar-left.form-group(action='/search', method='POST')
                  input.span2.search-query(name='tag', type='text', value="search", onclick="this.value=\'\'")
                    button.btn(type='submit') 
                    i.icon-search

            li.divider-vertical
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Hello, #{user.FIRSTNAME}
                  b.caret
                ul.dropdown-menu
                  li
                    a My Boards
                  li
                    a(href='/settings') Settings
                  li
                    a(href='/logout') Log out


    #main.container
      div(id='loginEmailParam' style='display:none')
        p=loginEmail
      div(id="rate-form-holder" class="white-popup-block mfp-hide" style='text-align: center;')
        div(style='width: 500px; margin: 0 auto; background: #A9A9A9; color: #fff;')      
          h1 Pick A Rating
          div(class="information" style="display: none")
            div(id="contentid_rate")
            div(id="source_rate")
          form(id="radiobtnholder_rate")
          button(id="rateSubmit") Rate it! 

      div(id="boardscontainer" style="width:1200px")
        - for (var i = 0; i < results.length; i++)
          div(class="board", name=results[i].BOARDNAME)
            h1(class="boardname")
              b=results[i].BOARDNAME
              // populate each board with contents (eg. photos)
             - for(var k = 0; k < results[i].CONTENTS.length; k++)
                if results[i].CONTENTS[k].TYPE == "photo"
                  div(style='width:200px; float:left; padding:10px 10px 10px 10px')
                    div(contentid=results[i].CONTENTS[k].CONTENTID, source=results[i].CONTENTS[k].SOURCE, style="float:left")
                      img(src=results[i].CONTENTS[k].URL, style='width: 200px; padding:10px 10px 10px 10px; border-radius:25px;')
                      a(class="popup-with-form",href="#rate-form-holder", style='float:left') 
                        img(src='http://www.clker.com/cliparts/v/u/q/r/E/3/yellow-star-md.png', style='width:30px; height:30px')
                      div(class="tags" style="width:180")
                      - for(var j = 0; j < results[i].CONTENTS[k].TAGS.length; j++)
                        h5(style='float:left; padding: 0 5px 0 5px; margin: -2px')
                          span.label.label-info=results[i].CONTENTS[k].TAGS[j]

                else                 
                  if results[i].CONTENTS[k].TYPE == "video"
                    div(style='width:300px; float:left; padding:10px 10px 10px 10px')
                      div(contentid=results[i].CONTENTS[k].CONTENTID, source=results[i].CONTENTS[k].SOURCE, style="float:left")
                        embed(src=results[i].CONTENTS[k].URL, style='width: 300px; padding:10px 10px 10px 10px; border-radius:25px;', type="application/x-shockwave-flash")
                        a(class="popup-with-form",href="#rate-form-holder", style='float:left') 
                          img(src='http://www.clker.com/cliparts/v/u/q/r/E/3/yellow-star-md.png', style='width:30px; height:30px')
                        div(class="tags" style="width:180")
                        - for(var j = 0; j < results[i].CONTENTS[k].TAGS.length; j++)
                          h5(style='float:left; padding: 0 5px 0 5px; margin: -2px')
                            span.label.label-success=results[i].CONTENTS[k].TAGS[j]
                  else
                    if results[i].CONTENTS[k].TYPE == "pdf"
                      div(style='width:420px; float:left; padding:10px 10px 10px 10px')
                        div(contentid=results[i].CONTENTS[k].CONTENTID, source=results[i].CONTENTS[k].SOURCE, style="float:left")
                          embed(src=results[i].CONTENTS[k].URL, style="width:400px;float:left; padding:10px 10px 10px 10px; border-radius:25px;")
                          a(class="popup-with-form",href="#rate-form-holder", style='float:left') 
                            img(src='http://www.clker.com/cliparts/v/u/q/r/E/3/yellow-star-md.png', style='width:30px; height:30px')
                          div(class="tags" style="width:180")
                          - for(var j = 0; j < results[i].CONTENTS[k].TAGS.length; j++)
                            h5(style='float:left; padding: 0 5px 0 5px; margin: -2px')
                              span.label.label-warning=results[i].CONTENTS[k].TAGS[j]
                

    
      script(type='text/javascript', src='/js/jquery.js')
      script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
      script(type='text/javascript', src='/js/bootstrap.min.js')
      script(type='text/javascript', src='/js/jquery.magnific-popup.js')
      script.
        jQuery.noConflict();
        jQuery(function($){ 
          $('#dropdown-toggle').click(function(){
            $('#dropdown-toggle').dropdown();
          }); 

          $(document).ready(function() {
            $('#dropdown-toggle').click(function(){
              $('#dropdown-toggle').dropdown();
            });

            $('.popup-with-form').magnificPopup({
              type: 'inline',
              preloader: false,
              focus: '#name',

              // When elemened is focused, some mobile browsers in some cases zoom in
              // It looks not nice, so we disable it:
              callbacks: {
                beforeOpen: function() {
                  if($(window).width() < 700) {
                    this.st.focus = false;
                  } else {
                    this.st.focus = '#name';
                  }
                }
              }
            });
          });

          $('a.popup-with-form').click(function(){            
            // populate the hidden information field
            contentid = $(this).parent().attr('contentid');            
            src = $(this).parent().attr('source');            
            popupid = $(this).attr('href');
            $(popupid).find('.information').children().eq(0).attr('contentid', contentid);
            $(popupid).find('.information').children().eq(1).attr('source', src);
            // uncheck all previous selections
            $(popupid).find('input[type="radio"]').prop('checked', false);
          });

          // populate the radio buttons for the ratings - jade somehow is messed up.:(
          for(i=1; i<6; i++){
            html = '<input type="radio" name="rating" value="' + i + '">'+ i + '</input>';
            $('#radiobtnholder_rate').append(html);
          }

          $('#rateSubmit').click(function(){
            selectedrating = $('input[name="rating"]:checked', '#radiobtnholder_rate').val();
            if(selectedrating == undefined){
              alert("Please select a rating");
              return false;
            }

            // send POST request to the server
            var c_id = $('#contentid_rate').attr('contentid'); 
            var src = $('#source_rate').attr('source');            
            var rate = selectedrating;
            loginEmail = $('#loginEmailParam p').html();

            $.ajax({
              type: "POST",
              url: "/addRating?loginEmail=" + loginEmail
                   + "&contentid=" + c_id
                   + "&source=" + src
                   + "&rating=" + rate,

              error: function(xhr, status, error) {
                console.log('ajax call fail to load data')
              },

              success: function(data) {
                if($(data).html() == '1'){
                  alert("succefully rated! :)");
                }
                else{
                  alert("rate failed...:(");
                }
                //return false;
              }

            }); // end of ajax
            
            // send POST request to the server
            //alert(selectedrating)
            // close the form
            $('button.mfp-close').click();
            //return false; // so we don't refresh the browser
          });

        });
