!!! 5
html
  head
    title MockingJay Pinterest
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/css/site.css')
    link(rel='stylesheet', href='/css/magnific-popup.css')
    link(rel='shortcut icon', href='/img/favicon.ico')

  body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          a.brand #{title}
          ul.nav.pull-right
            li
              form.navbar-form.navbar-left.form-group(action='/search', method='POST')
                  input.span2.search-query(name='tag', type='text', value="search", onclick="this.value=\'\'")
                    button.btn(type='submit') 
                    i.icon-search

            li.divider-vertical
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Hello, #{user.FIRSTNAME}
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='/profile') My Boards
                  li
                    a(href='/settings') Settings
                  li
                    a(href='/logout') Log out


    #main.container
      .hero-unit-recommendation
        h4 Recommendations for #{user.FIRSTNAME}
      // hide from the user but need this to hold useful information
      div(id="boards", style="display:none") 
        - for(var j = 0; j < boards.length; j++)
          div=boards[j].BOARDNAME
      div(id="loginEmailParam" style="display:none")
        p=loginEmail

      // pin-form-holder
      div(id="pin-form-holder" class="white-popup-block mfp-hide" style='text-align: center;')
        div(style='width: 500px; margin: 0 auto; background: #A9A9A9; color: #fff;')       
          h1 Pick A Board
          div(class="information" style="display: none")
            div(id="contentid_pin")
            div(id="source_pin")
          form(id="radiobtnholder_pin")
          button(id="pinSubmit") Pin it!             

      div(id="rate-form-holder" class="white-popup-block mfp-hide" style='text-align: center;')
        div(style='width: 500px; margin: 0 auto; background: #A9A9A9; color: #fff;')      
          h1 Pick A Rating
          div(class="information" style="display: none")
            div(id="contentid_rate")
            div(id="source_rate")
          form(id="radiobtnholder_rate")
          button(id="rateSubmit") Rate it!  
           
            
      div(id="recommendationsContainer" style="width:1200px")
      - for (var i = 0; i < recommendations.length; i++)
        if recommendations[i].TYPE == "photo"
          div(style='width:200px; height:300px; float:left; padding:10px 10px 50px 10px')
            div(contentid=recommendations[i].CONTENTID, source=recommendations[i].SOURCE, style="float:left")
              img(src=recommendations[i].URL, style='width: 200px; padding:10px 10px 10px 10px; border-radius:25px;')
              a(class="popup-with-form",href="#pin-form-holder") 
                img(src='http://www.clker.com/cliparts/H/X/w/s/y/J/push-pin-md.png', style='width:30px; height:30px; padding: 0 0 0 30px')
              a(class="popup-with-form",href="#rate-form-holder") 
                img(src='http://www.clker.com/cliparts/v/u/q/r/E/3/yellow-star-md.png', style='width:30px; height:30px')
              div(class="tags" style="width:180px") 
              
        else 
          if recommendations[i].TYPE == "video"
            div(style='width:300px; float:left; padding:10px 10px 10px 10px')
              div(contentid=recommendations[i].CONTENTID, source=recommendations[i].SOURCE, style="float:left")
                embed(src=recommendations[i].URL, style='width: 300px; padding:10px 10px 10px 10px; border-radius:25px;', type="application/x-shockwave-flash")
                a(class="popup-with-form",href="#pin-form-holder") 
                  img(src='http://www.clker.com/cliparts/H/X/w/s/y/J/push-pin-md.png', style='width:30px; height:30px; padding: 0 0 0 30px')
                a(class="popup-with-form",href="#rate-form-holder")
                  img(src='http://www.clker.com/cliparts/v/u/q/r/E/3/yellow-star-md.png', style='width:30px; height:30px')
                div(class="tags" style="width:180px")
          else
            if recommendations[i].TYPE == "pdf"
              div(style='width:420px; float:left; padding:10px 10px 10px 10px')
                div(contentid=recommendations[i].CONTENTID, source=recommendations[i].SOURCE, style="float:left")
                  embed(src=recommendations[i].URL, style="width:400px; float:left; padding:10px 10px 10px 10px; border-radius:25px;")
                  a(class="popup-with-form",href="#pin-form-holder")
                    img(src='http://www.clker.com/cliparts/H/X/w/s/y/J/push-pin-md.png', style='width:30px; height:30px; padding: 0 0 0 30px')
                  a(class="popup-with-form",href="#rate-form-holder")
                    img(src='http://www.clker.com/cliparts/v/u/q/r/E/3/yellow-star-md.png', style='width:30px; height:30px')
                  div(class="tags" style="width:180px")


    script(type='text/javascript', src='/js/jquery.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/jquery.magnific-popup.js')
    script.

      jQuery.noConflict();
      jQuery(function($){                
        $(document).ready(function() {
          $('#dropdown-toggle').click(function(){
            $('#dropdown-toggle').dropdown();
          });

          $('.popup-with-form').magnificPopup({
            type: 'inline',
            preloader: false,
            focus: '#name',

            // When elemened is focused, some mobile browsers in some cases zoom in
            // It looks not nice, so we disable it:
            callbacks: {
              beforeOpen: function() {
                if($(window).width() < 700) {
                  this.st.focus = false;
                } else {
                  this.st.focus = '#name';
                }
              }
            }
          });
        });

          $('a.popup-with-form').click(function(){            
            // populate the hidden information field
            contentid = $(this).parent().attr('contentid');            
            src = $(this).parent().attr('source');            
            popupid = $(this).attr('href');
            $(popupid).find('.information').children().eq(0).attr('contentid', contentid);
            $(popupid).find('.information').children().eq(1).attr('source', src);
            // uncheck all previous selections
            $(popupid).find('input[type="radio"]').prop('checked', false);
          });

          // populate the radio buttons for the ratings - jade somehow is messed up.:(
          for(i=1; i<6; i++){
            html = '<input type="radio" name="rating" value="' + i + '">'+ i + '</input>';
            $('#radiobtnholder_rate').append(html);
          }
          
          // append the board names for pin form
          $('#boards').children().each(function(){
            boardname= $(this).html();
            html = '<input type="radio" name="boardname" value="' + boardname + '">'+ boardname + '</input>';
            $('#radiobtnholder_pin').append(html);
          });

          // submit pin 
          $('#pinSubmit').click(function(){
            selectedboard = $('input[name="boardname"]:checked', '#radiobtnholder_pin').val();
            if(selectedboard == undefined){
              alert("Please select a board");
              return false;
            }
            // send POST request to the server
            var c_id = $('#contentid_pin').attr('contentid');
            var src = $('#source_pin').attr('source');            
            var bname = selectedboard;
            loginEmail = $('#loginEmailParam p').html();

            $.ajax({
              type: "POST",
              url: "/addPins?contentID=" + c_id
                   + "&source=" + src
                   + "&loginEmail=" + loginEmail
                   + "&boardName=" + bname,

              error: function(xhr, status, error) {
                console.log('ajax call fail to load data')
              },

              success: function(data) {
                if($(data).html() == 'succeed'){
                  alert("succefully pinned! :)");
                }
                else{
                  alert("pin failed...:(");
                }
                //return false;
              }
            }); // end of ajax
            

            // close the form
            $('button.mfp-close').click();
            //return false; // so we don't refresh the browser
          });

          $('#rateSubmit').click(function(){
            selectedrating = $('input[name="rating"]:checked', '#radiobtnholder_rate').val();
            if(selectedrating == undefined){
              alert("Please select a rating");
              return false;
            }

            // send POST request to the server
            var c_id = $('#contentid_rate').attr('contentid'); 
            var src = $('#source_rate').attr('source');            
            var rate = selectedrating;
            loginEmail = $('#loginEmailParam p').html();

            $.ajax({
              type: "POST",
              url: "/addRating?loginEmail=" + loginEmail
                   + "&contentid=" + c_id
                   + "&source=" + src
                   + "&rating=" + rate,

              error: function(xhr, status, error) {
                console.log('ajax call fail to load data')
              },

              success: function(data) {
                if($(data).html() == '1'){
                  alert("succefully rated! :)");
                }
                else{
                  alert("rate failed...:(");
                }
                //return false;
              }

            }); // end of ajax
            
            // send POST request to the server
            //alert(selectedrating)
            // close the form
            $('button.mfp-close').click();
            //return false; // so we don't refresh the browser
          });

      });
