!!! 5
html
  head
    title MockingJay Pinterest
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/css/site.css')
    link(rel='shortcut icon', href='/img/favicon.ico')
  body(class='registration')
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          a(href='/').brand #{title}
          .nav-collapse

            ul.nav.pull-right
              li
                a Sign Up
              li.divider-vertical
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Sign In
                  strong.caret
                .dropdown-menu(style='padding: 15px; padding-bottom: 0px;')
                  //
                     Login form here 
                  form(action='/login', method='POST')
                    input#username.input-large(name='username', type='text', placeholder='Username')
                    input#password.input-large(name='password', type='password', placeholder='Password')
                    button.btn.btn-primary(type='submit') Sign in

    #main.container
      #page-wrap
        .hero-unit.reg=header
          h4 Hello there!
        #regForm
    
          #error_modal.modal.fade
            .modal-header
              a.close(data-dismiss='modal') ×
              h3 Duplicate user Notice
            .modal-body
              .alert.alert-danger
                h5
                  b The email you typed in already exists in database.
            .modal-footer
              a.btn(id='closeError', data-dismiss='modal') Close

          #inconsistentPassword_modal.modal.fade
            .modal-header
              a.close(data-dismiss='modal') ×
              h3 Password Error
            .modal-body
              .alert.alert-danger
                h5
                  b Please make sure the two passwords you typed in are identical.
            .modal-footer
              a.btn(data-dismiss='modal') Close

          #success_modal.modal.fade
            .modal-header
              a.close(data-dismiss='modal') ×
              h3 Welcome
            .modal-body
              .alert.alert-success
                h4 
                  b Congratulations! 
                h5 
                  b You have registered successfully. Please login with your credentials.
            .modal-footer
              button.btn.btn-primary(id='closeSuccess', data-dismiss='modal') Close

          form.form-horizontal(action='', method='POST')
            .control-group
              label.control-label(for='email_input') Email
              .controls
                input#email_input(type='text', name='email')

            .control-group
              label.control-label(for='password_input') Password
              .controls
                input#password_input(type='password', name='password')    

            .control-group
              label.control-label(for='confirm_password_input') Confirm Password
              .controls
                input#confirm_password_input(type='password', name='password')    

            .control-group
              label.control-label(for='firstName_input') First name
              .controls
                input#firstName_input(type='text', name='firstName')

            .control-group
              label.control-label(for='lastName_input') Last name
              .controls
                input#lastName_input(type='text', name='lastName')

            .control-group
              label.control-label(for='affiliation_input') Affiliation
              .controls
                input#affiliation_input(type='text', name='affiliation')

            .control-group
              label.control-label(for='interest_input') Interest
              .controls
                input#interest_input(type='text', name='interest')
            
            .control-group-register-btn
              .controls
                input.btn.btn-primary(id='signUpSubmit', value='Register')

    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script.
      jQuery.noConflict();
      jQuery(function($){ 

        $('#signUpSubmit').click(function(){

          loginEmail = $('#email_input').val();
          password = $('#password_input').val();
          confirm_password = $('#confirm_password_input').val();
          firstName = $('#firstName_input').val();
          lastName = $('#lastName_input').val();
          affiliation = $('#affiliation_input').val();
          interest = $('#interest_input').val();
            
          $.ajax({
            type: "GET",
            url: "/existingUserCheck?loginEmail=" + loginEmail 
               + "&password=" + password 
               + "&firstName=" + firstName
               + "&lastName=" + lastName
               + "&affiliation="+ affiliation
               + "&interest=" + interest
              ,

            error: function(xhr, status, error) {
              console.log('ajax call fail to load data')
            },

            success: function(data) {

              if($(data).html() == "true"){ 
                $('#error_modal').modal('show');
                //var baseUrl = window.location.href;        
                //baseUrl = baseUrl.substring(0, baseUrl.lastIndexOf('/')+1);
                //window.location.href = baseUrl;
                return false;
              }
              else if(password != confirm_password){
                $('#inconsistentPassword_modal').modal('show');
                return false;
              }
              else{
                $('#success_modal').modal('show');
                var currentHref = window.location.href;
                //alert(currentHref);
                
                return false;
              }
            }

          }); // end of ajax
          
        });
    
        $('#closeSuccess').click(function(){
          var baseUrl = window.location.href;        
          baseUrl = baseUrl.substring(0, baseUrl.lastIndexOf('/')+1);
          window.location.href = baseUrl;
          });

        
      }); // end of jQuery

