!!! 5
html
  head
    title MockingJay Pinterest
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/css/site.css')
    link(rel='shortcut icon', href='/img/favicon.ico')
  body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          a(href='/').brand #{title}
          .nav-collapse
            /
            ul.nav.pull-right
              li
                form.navbar-form.navbar-left.form-group(action='/search', method='POST')
                  input.span2.search-query(name='tag', type='text', value="search", onclick="this.value=\'\'")
                    button.btn(type='submit') 
                    i.icon-search
              
              
              li.divider-vertical
              ul.nav.pull-right
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Hello, #{user.FIRSTNAME}
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='/profile') My Boards
                    li
                      a(href='/settings') Settings
                    li
                      a(href='/logout') Log out



    #main.container
      .hero-unit-recommendation
        h4 Search results for #{tag}

      div(id="recommendationsContainer" style="width:1200px")
      - for (var i = 0; i < urls.length; i++)
            if urls[i].TYPE == "photo"
              div(contentid=urls[i].CONTENTID, source=urls[i].SOURCE, style="float:left")
                img(src=urls[i].URL, style='width: 200px; padding:10px 10px 10px 10px; border-radius:25px;')
                div(class="tags" style="width:180px") 
            else 
              if urls[i].TYPE == "video"
                div(contentid=urls[i].CONTENTID, source=urls[i].SOURCE, style="float:left")
                  embed(src=urls[i].URL, style='width: 300px; padding:10px 10px 10px 10px; border-radius:25px;', type="application/x-shockwave-flash")
                  div(class="tags" style="width:180px")
              else
                if urls[i].TYPE == "pdf"
                  div(contentid=urls[i].CONTENTID, source=urls[i].SOURCE,style="float:left")
                    embed(src=urls[i].URL, style="width:400px;float:left; padding:10px 10px 10px 10px; border-radius:25px;")
                    div(class="tags" style="width:180px")

    //- p
    //-     | #{subTitle}:
    //-     div(width="1000px")
    //-       h1
    //-      - for (var j = 0; j < urls.length; j++)
    //-        img(src=urls[j].URL, width="200px")
      
    //- p
    //- p
    //- // Put a click button that lets us return to the index page 
    //- form(method='get', action='/actor')
    //-     input(type='submit', value='Back to profile')
  
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script.
      jQuery.noConflict();
      jQuery(function($){ 
        console.log("in jquery");
        $('#dropdown-toggle').click(function(){
            $('#dropdown-toggle').dropdown();
        });
      });
    script.
      function backToProfile(){
          var baseUrl = window.location.href;        
          baseUrl = baseUrl.substring(0, baseUrl.lastIndexOf('/')+1);
          window.location.href = baseUrl + "/actor?name=" + actorURL;
        }