!!! 5
html
  head
    title MockingJay Pinterest
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/css/site.css')
    link(rel='shortcut icon', href='/img/favicon.ico')
  body(class='registration')
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          a(href='/').brand #{title}
          ul.nav.pull-right
            li
              form.navbar-form.navbar-left.form-group(action='/search', method='POST')
                  input.span2.search-query(name='tag', type='text', value="search", onclick="this.value=\'\'")
                    button.btn(type='submit') 
                    i.icon-search
                    

            li.divider-vertical
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Hello, #{user.FIRSTNAME}
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='/profile') My Boards
                  li
                    a Settings
                  li
                    a(href='/logout') Log out


    #main.container
      #page-wrap
        .hero-unit.reg=header
          h4 Hi, #{user.FIRSTNAME} !
        #regForm
    
          #noChange_modal.modal.fade
            .modal-header
              a.close(data-dismiss='modal') ×
              h3 No changes made
            .modal-body
              .alert.alert-info
                h4
                  b No changes have been made.
            .modal-footer
              a.btn(id='closeError', data-dismiss='modal') Close

          #inconsistentPassword_modal.modal.fade
            .modal-header
              a.close(data-dismiss='modal') ×
              h3 Password Error
            .modal-body
              .alert.alert-danger
                h5
                  b Please make sure the two passwords you typed in are identical.
            .modal-footer
              a.btn(data-dismiss='modal') Close

          #success_modal.modal.fade
            .modal-header
              a.close(data-dismiss='modal') ×
              h3 Updated
            .modal-body
              .alert.alert-success
                h4 
                  b Changes are updated in database! 
            .modal-footer
              button.btn.btn-primary(id='closeSuccess', data-dismiss='modal') Close

          form.form-horizontal(action='', method='POST')
            .control-group
              label.control-label(for='email_input') Email
              .controls
                input#email_input(type='text', name='email', value='#{user.LOGINEMAIL}', disabled='disabled') 

            .control-group
              label.control-label(for='password_input') Password
              .controls
                input#password_input(type='password', name='password', value='#{user.PASSWORD}')    

            .control-group
              label.control-label(for='confirm_password_input') Confirm Password
              .controls
                input#confirm_password_input(type='password', name='password', value='#{user.PASSWORD}')    

            .control-group
              label.control-label(for='firstName_input') First name
              .controls
                input#firstName_input(type='text', name='firstName', value='#{user.FIRSTNAME}') 

            .control-group
              label.control-label(for='lastName_input') Last name
              .controls 
                input#lastName_input(type='text', name='lastName', value='#{user.LASTNAME}') 

            .control-group
              label.control-label(for='affiliation_input') Affiliation
              .controls
                input#affiliation_input(type='text', name='affiliation', value='#{user.AFFILIATION}') 

            .control-group
              label.control-label(for='interest_input') Interest
              .controls
                input#interest_input(type='text', name='interest', value='#{user.INTEREST}') 
            
            .control-group-register-btn
              .controls
                input.btn.btn-primary(id='signUpSubmit', value='Update')

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script.
      jQuery.noConflict();
      jQuery(function($){ 
        //$(document).ready(function() {
          var loginEmail_db = $('#email_input').val();
          var password_db = $('#password_input').val();        
          //var confirm_password_db = $('#confirm_password_input').val();
          var firstName_db = $('#firstName_input').val();
          var lastName_db = $('#lastName_input').val();
          var affiliation_db = $('#affiliation_input').val();
          var interest_db = $('#interest_input').val();

          $('#password_input').val('');
          $('#confirm_password_input').val('');

          console.log(loginEmail_db + " " +  password_db + " " + " " + firstName_db + " " + lastName_db);
          //});
        /*
        $('form').onsubmit(function(e){
            e.preventDefault();
          );
        }
        */
        $('#dropdown-toggle').click(function(){
            $('#dropdown-toggle').dropdown();
        }); 

        $('#signUpSubmit').click(function(){
          loginEmail = $('#email_input').val();          
          password = $('#password_input').val();
          confirm_password = $('#confirm_password_input').val();
          firstName = $('#firstName_input').val();
          lastName = $('#lastName_input').val();
          affiliation = $('#affiliation_input').val();
          interest = $('#interest_input').val();

          //- password_db = #{user.PASSWORD};
          //- confirm_password_db = #{user.PASSWORD};
          //- firstName_db = #{user.FIRSTNAME};
          //- lastName_db = #{user.LASTNAME};
          //- affiliation_db = #{user.AFFILIATION};
          //- interest_db = #{user.INTEREST};

          if(password != confirm_password){ 
                $('#inconsistentPassword_modal').modal('show');
                return false;
          }
          else if(password == password_db && confirm_password == password
            && firstName == firstName_db && lastName == lastName_db && affiliation == affiliation_db && interest == interest_db){
            $('#noChange_modal').modal('show');
            return false;
          }

            
          $.ajax({
            type: "GET",
            url: "/updateUserInfo?loginEmail=" + loginEmail 
               + "&password=" + password 
               + "&firstName=" + firstName
               + "&lastName=" + lastName
               + "&affiliation="+ affiliation
               + "&interest=" + interest
              ,

            error: function(xhr, status, error) {
              console.log('ajax call fail to load data')
            },

            success: function(data) {
              if($(data).html() == 'true'){
                $('#success_modal').modal('show');
              }
              return false;
            }

          }); // end of ajax
          
        });
    
        $('#closeSuccess').click(function(){
          var baseUrl = window.location.href;        
          baseUrl = baseUrl.substring(0, baseUrl.lastIndexOf('/')+1);
          window.location.href = baseUrl;
          });

        
      }); // end of jQuery

