/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
body {
  font-family: 'Georgia';
  background-color: #fafafa;
  color: #444;
}
header {
  font-family: 'Quicksand';
  padding: 50px 10px;
  font-size: 25px;
  text-align: center;
/*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-image: url("http://webdesignledger.com/wp-content/uploads/2010/01/seamless_patterns.jpg");
  background-repeat: repeat-h;
  border-bottom: 1px solid #4c0a0a;
  text-shadow: 0px -1px 0px #4c0a0a;
}
h1.boardname {
  border: 15px solid #ff9;
  padding: 10px 40px;
  background: #ff9;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
p.userinfo {
  border: 5px solid #fc9;
  padding: 10px 40px;
  background: #fc9;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
}
p.userinfo_content {
  border: 5px solid #fc9;
  padding: 10px 40px;
  background: #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
}
div.board {
  clear: both;
  padding: 50px 50px 10px 10px;
}
div.tags tag {
  border: 2px solid #fc9;
  padding: 2px 3px;
  margin: 2px 2px 2px 2px;
  background: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 1200px;
  margin: 50px auto;
  overflow: hidden;
}
.main-content {
  float: left;
}
.main-content p {
  margin-bottom: 20px;
}
.sidebar {
  float: left;
  width: 200px;
}
.sidebar .widget {
/*
     * Note the lack of vendor
     * prefixes here. Nib will
     * add them for us
     */
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-left: 20px;
  background-color: #fafafa;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
}
.sidebar .widget h1 {
  font-family: 'Georgia';
  margin: 13px 10px 4px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 10px;
}
.sidebar .widget p {
  font-size: 13px;
  font-family: 'Helvetica,Arial,sans-serif';
  padding: 0px 10px;
  margin-bottom: 10px;
}
p {
  line-height: 1.8;
}
footer {
  width: 500px;
  margin: 50px auto;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 13px;
}
.bigbutton {
  width: 200px;
  height: 60px;
}
