// Jade file to specify output of an actors list
// Inherits from layout
extend layout
block content

  table(id="userinfo")
    - for (var inx = 0; inx < results.length; inx++)      
      tr
        td
          p(class="userinfo") First Name
        td
          p(class="userinfo_content")=results[inx].FIRSTNAME
      tr
        td
          p(class="userinfo") Last Name
        td
          p(class="userinfo_content")=results[inx].LASTNAME
      tr
        td
          p(class="userinfo") Interets          
        td
          p(class="userinfo_content")=results[inx].INTEREST

  div(id="boardscontainer" style="width:1200px")
    - for (var i = 0; i < contents.length; i++)
      div(class="board", name=contents[i].BOARDNAME)
        h1(class="boardname")
          b=contents[i].BOARDNAME
         - for(var k = 0; k < contents[i].URL.length; k++)
            if contents[i].TYPE[k] == "photo"
              div(contentid=contents[i].CONTENTID[k], source=contents[i].SOURCE[k], style="float:left")
                img(src=contents[i].URL[k], style='width: 200px; padding:10px 10px 10px 10px; border-radius:25px;')
                div(class="tags" style="width:180px") 
            else 
              if contents[i].TYPE[k] == "video"
                div(contentid=contents[i].CONTENTID[k], source=contents[i].SOURCE[k],style="float:left")
                  embed(src=contents[i].URL[k], style='width: 300px; padding:10px 10px 10px 10px; border-radius:25px;', type="application/x-shockwave-flash")
                  div(class="tags" style="width:180px")
              else
                if contents[i].TYPE[k] == "pdf"
                  div(contentid=contents[i].CONTENTID[k], source=contents[i].SOURCE[k],style="float:left")
                    embed(src=contents[i].URL[k], style="width:400px;float:left; padding:10px 10px 10px 10px; border-radius:25px;")
                    div(class="tags" style="width:180px")


  p(style="clear:both") Please enter a tag to search:
  form(method='post', action='/search')
    input(id='tagInput' name='tag', value='' required)
    input(id='searchSubmit', type='submit', value='Search')

  // Put a click button that lets us return to the index page 
  form(method='get', action='/')
      input(type='submit', value='Return')
  
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  script.
      jQuery.noConflict();
      jQuery(function($){ 
        console.log("in jquery");

        // adding ids to the boards - stripping the white spaces in between
        $('#boardscontainer').children().each(function(){
          $(this).children().each(function(index){
            if(index !=0){
              var boardName = $(this).parent().attr('name');
              boardName = boardName.replace(/ /g,'');              
              $(this).parent().attr('id', boardName);
            }
          });
        });

        // populate the tag fields for respective board - be careful with the duplicates!
        $('#boardscontainer').children().each(function(){
          $(this).children().each(function(index){
             if(index != 0){ // because the first child is always the h1 containing board names
              var contentId = $(this).attr('contentid');
              var source = $(this).attr('source');
              var currentBoardName = $(this).parent().attr('id'); // important - avoid the duplicates
              
              $.ajax({
                type: "GET",
                url: "/tag?contentid=" + contentId + "&source=" + source,

                error: function(xhr, status, error) {
                  console.log('ajax call fail to load tag data')
                },

                success: function(data) {
                  if($(data).length > 0){ // found tag                    
                    // populate the tag field
                    $('#' + currentBoardName + ' div[contentid="' + contentId + '"][source="' + source+ '"] .tags').html(data); 

                    // adding the hash tag in front of each tag content
                    $('#' +currentBoardName + ' .tags').each(function(){                      
                      $(this).children().each(function(){
                        originalT = $(this).html();
                        if(originalT.indexOf('#') == -1)  $(this).html('#' + originalT + " ");
                       });          
                    });
                  }                                        
                }
              });
             }
            })          
        });

        

      }); // end of jQuery
  
