// Basic Jade specification for querying for an actor
// Inherits from layout 
extend layout
// Then we produce a form that triggers /actor once
// the user hits Submit
block content  
  
  button(id="signinbtn" class="bigbutton") Sign In
  button(id="signupbtn" class="bigbutton") Sign Up
  
  // sign in form  
  form(id="signinForm" method='post', action='/actor', style="display:none")
    h1 
      b Login Email          
    input(id='login' name='LoginEmail', value='' required)
    h1 
      b Password
    input(id= 'pswd' name='password', value='', type='password' required)
    input(id="loginSubmit", type='submit', value='Log in')
  
  // sign up form
  form(id="signupForm" method='post', action='', style="display:none")
    h1
      b Please Enter your email:
    input(id='signupemail', name='signupemail', value='' required)
    h1
      b Please Enter a password:
    input(id='signuppswd', name='signuppswd', value='' required)
    h1
      b First Name
    input(id='firstname', name='firstname', value='' required)
    h1
      b Last Name
    input(id='lastname', name='lastname', value='' required)
    h1
      b Affiliation
    input(id='affliation', name='affiliation', value='' required)
    h1
      b Interest (use comma to separate each one)
    input(id='interests', name='interests', value='' required)
    input(id='signupSubmit', type='submit', value='Sign up')

  
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script.  	
      jQuery.noConflict();
      jQuery(function($){ 
        console.log("in jquery");
        $('#signinbtn').click(function(){
          $('#signinForm').show();
          $('#signupForm').hide();
          });

          $('#signupbtn').click(function(){
            $('#signinForm').hide();
            $('#signupForm').show();
            });

          //- $('#loginSubmit').click(function(e){
          //-   e.preventDefault();
          //-   var login = $('#login').val();
          //-   var psw = $('#pswd').val();            
          //-   var baseUrl = window.location.href;
          //-   baseUrl = baseUrl.substring(0, baseUrl.lastIndexOf('/')+1);
          //-   window.location.href = baseUrl + "actor?name=" + login + "DELIMETER" +psw;
          //-   return false;
          //-   });
      });
    