// Basic Jade specification for querying for specific tag
// Inherits from layout 
extend layout
// Then we produce a form that triggers /actor once
// the user hits Submit
block content

    p
        | #{subTitle}:
        div(width="1000px")
          h1
         - for (var j = 0; j < urls.length; j++)
           img(src=urls[j].URL, width="200px")


    p
    p
    // Put a click button that lets us return to the index page 
    form(method='get', action='/actor')
      input(type='submit', value='Back to profile page')
  
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script.
      jQuery.noConflict();
      jQuery(function($){ 
        console.log("in jquery");
      });
