!!! 5
html
  head
    title MockingJay Pinterest
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/css/site.css')
    link(href='http://fonts.googleapis.com/css?family=Pacifico', rel='stylesheet', type='text/css')
    link(rel='shortcut icon', href='/img/favicon.ico')
  body(class="landingPage")
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        //img(src='http://farm8.staticflickr.com/7429/11357434573_bc159aeeab_o.jpg', style="opacity: 0.5; width: 500px; height:500px")
        .container
          a(href='/').brand #{title}
          //
             Start of the nav bar content 
          .nav-collapse
            //
               Other nav bar content 
            //
               The drop down menu 
            ul.nav.pull-right
              li
                a(href='/registration') Sign Up
              li.divider-vertical
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Sign In
                  strong.caret
                .dropdown-menu(style='padding: 15px; padding-bottom: 0px;')
                  //
                     Login form here 
                  form(action='/login', method='POST')
                    input#username.input-large(name='username', type='text', placeholder='Username')
                    input#password.input-large(name='password', type='password', placeholder='Password')
                    button.btn.btn-primary(type='submit') Sign in
    #main.container
      section.hero
        .container
          nav.navbar
            article.marketing.row
              .offset2.span8
                h1.headline  Pinterest
      


    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(type='text/javascript', src='../js/bootstrap.min.js')
    //script(type='text/javascript', src='../js/jquery.backstretch.min.js')
    // script.
    //   jQuery.noConflict();
    //   jQuery(function($){ 
    //     alert("in jquery");
    //     $.backstretch([
    //       "../pix/image1.jpg",
    //       "../pix/image2.jpg",
    //       "../pix/image3.jpg",
    //       "../pix/image4.jpg",
    //       "../pix/image5.jpg"    
    //     ], {duration: 4000, fade: 750});

    //     alert("done?");
    //   });   